name: app.py

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Run the script
        run: |
          python app.py

      - name: Commit changes
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "Auto commit from cron job" || echo "No changes to commit"

      - name: Push changes
        run: |
          git push
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
